* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/pattern.png);
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    height: 100vh;
}

/* Nagłówek */
header {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    margin: 30px 0;
    color: #ffc400;
    text-shadow: 5px 5px 5px lightgrey;
}

header span {
    color: #ff9900;
}

@media screen and (min-width: 1000px) {
    header h1 {
    }
}

/*Menu główne*/
.games {
    margin-top: 70px;
}

.memory, .puzzle, .gra3 {
    width: 100%;
    height: 400px;
}

.icon {
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

.game1 {
    background-image: url(../img/memory/memory.png);
}

.game2 {
    background-image: url(../img/puzzle/puzzle.png);
}

.game3 {
    border: 2px solid grey;
}

.kind_game {
    text-transform: uppercase;
    font-size: 30px;
    color: #ff9900;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
    .memory, .puzzle, .gra3 {
        width: 33.3%;
        height: 400px;
        float: left;
    }
}

/*Przycisk cofania*/
.back, .new-game {
    line-height: 60px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    padding: 0 30px;
    color: grey;
    background-color: lightgrey;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px grey;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (min-width: 750px) {
    .back, .new-game {
        line-height: 40px;
        font-size: 20px;
        padding: 0 20px;
    }
}

/*Gra MEMORY*/
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.game-memory {
    width: 100%;
    height: 100vh;
    background-image: url(../img/memory/pattern-memory.png);
    background-size: contain;
    padding: 20px 0 5px 0;
    display: table;
}

.memo {
    height: 100%;
    width: 100vw;
    vertical-align: middle;
    display: table-cell;
}

.memory-board {
  	width: 100vw;
    height: 800px;
  	margin: 0 auto;
    text-align: center;
    font-size: 50px;
    display: table;
}

.memory-board p {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    padding: 50px 0;
}

.memory-board span {
    color: #ff9900;
}

.memory-score {
    margin: 0 auto;
    text-align: center;
}

.cards {
    width: 15%;
    height: 180px;
    margin: 1px 3px;
    background-image: url("../img/memory/karta.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    display: inline-block;
    filter: brightness(70%);
}

.cards:hover {
    filter: brightness(100%);
    box-shadow: 0 0 10px 4px #ff9900;
    transition: all .3s ease-in-out;
}

.activeCard {
    filter: brightness(100%);
}

.game-memory a {
    text-decoration: none;
}

.new-game {
    position: fixed;
    top: 0;
    right: 0;
}

.graphics a {
    text-decoration: none;
    text-align: center;
    margin: 10px auto 5px auto;
    display: table;
    font-size: 12px;
    color: grey;
}

@media screen and (min-width: 750px) {
    .memory-board {
        width: 90vw;
    }
    .cards {
        height: 160px;
    }
}

@media screen and (min-width: 900px) {
    .memory-board {
        width: 700px;
    }
    .cards {
        width: 100px;
        height: 133px;
        margin: 5px;
    }

}

/*Gra PUZZLE*/
.game-puzzle {
    width: 100%;
    background-image: url(../img/puzzle/pattern-puzzle.png);
    background-size: contain;
    height: 100vh;
}
.main-puzzle, .choice-puzzle {
    width: 100%;
}

.choice-puzzle {
    padding-top: 30px;
}

.table  {
    display: table;
    margin: 20px auto;
}

.center {
    display: table;
    margin: 20px auto;
    box-shadow: 5px 5px 5px grey;
}

#part1, #part2, #part3, #part4 {
    display: table-row;
}

.mix, .choice {
    font-family: 'Righteous', cursive;
    color: grey;
    font-size: 20px;
    background-color: lightgrey;
    text-transform: uppercase;
    padding: 10px 20px;
}

.choice {
    border-radius: 20px;
}

button {
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: grey;
    color: #ffe85f;
}

/* Poszczególne elementy puzzli */
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16 {
    display: table-cell;
    width: 125px;
    height: 125px;
    border: 2px solid white;
    cursor: pointer;
}

.block1 {
    background-position: 0 0;
}

.block2 {
    background-position: -125px 0;
}

.block3 {
    background-position: -250px 0;
}

.block4 {
    background-position: -375px 0;
}

.block5 {
    background-position: 0 -125px;
}

.block6 {
    background-position: -125px -125px;
}

.block7 {
    background-position: -250px -125px;
}

.block8 {
    background-position: -375px -125px;
}

.block9 {
    background-position: 0 -250px;
}

.block10 {
    background-position: -125px -250px;
}

.block11 {
    background-position: -250px -250px;
}

.block12 {
    background-position: -375px -250px;
}

.block13 {
    background-position: 0 -375px;
}

.block14 {
    background-position: -125px -375px;
}

.block15 {
    background-position: -250px -375px;
}

.block16 {
    background: white;
}

.kind1, .kind2, .kind3, .kind4 {
    width: 220px;
    height: 220px;
    background-size: contain;
    display: table-cell;
    border: 2px solid white;
    cursor: pointer;
}

.kind1 {
    background-image: url(../img/puzzle/mountain.png);
}

.kind2 {
    background-image: url(../img/puzzle/lake.png);
}

.kind3 {
    background-image: url(../img/puzzle/desert.png);
}

.kind4 {
    background-image: url(../img/puzzle/river.png);
}

.checked {
    box-shadow: 0 0 10px 4px #ff9900;
}

.choice-puzzle a {
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .game-puzzle {
        height: 100vh;
        vertical-align: middle;
        display: table-cell;
        width: 100vw;
    }
    .main-puzzle, .choice-puzzle {
        width: 50%;
        float: left;
    }
    .choice-puzzle {
        padding-top: 0;
    }
}
