* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/pattern.png);
    text-transform: uppercase;
}

/* Nagłówek */
header {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin: 30px 0;
    color: #ffc400;
    text-shadow: 5px 5px 5px lightgrey;
}

header span {
    color: #ff9900;
}

.main-puzzle, .choice-puzzle {
    width: 100%;
}

#table {
    border: 2px solid white;
}

.center {
    display: table;
    margin: 20px auto;
    box-shadow: 5px 5px 5px grey;
}

#part1, #part2, #part3, #part4 {
    display: table-row;
}

button, .choice {
    font-family: 'Righteous', cursive;
    color: grey;
    font-size: 14px;
    background-color: white;
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #eceff1;
    color: black;
}

/* Poszczególne elementy puzzli */
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16 {
    display: table-cell;
    width: 90px;
    height: 90px;
    border: 2px solid white;
    cursor: pointer;
}

/* .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15 {
    background: url(../img/mountain.jpg);
} */

.block1 {
    background-position: 0 0;
}

.block2 {
    background-position: -90px 0;
}

.block3 {
    background-position: -180px 0;
}

.block4 {
    background-position: -270px 0;
}

.block5 {
    background-position: 0 -90px;
}

.block6 {
    background-position: -90px -90px;
}

.block7 {
    background-position: -180px -90px;
}

.block8 {
    background-position: -270px -90px;
}

.block9 {
    background-position: 0 -180px;
}

.block10 {
    background-position: -90px -180px;
}

.block11 {
    background-position: -180px -180px;
}

.block12 {
    background-position: -270px -180px;
}

.block13 {
    background-position: 0 -270px;
}

.block14 {
    background-position: -90px -270px;
}

.block15 {
    background-position: -180px -270px;
}

.block16 {
    background: white;
}

.kind1, .kind2, .kind3, .kind4 {
    width: 160px;
    height: 160px;
    background-size: contain;
    display: table-cell;
    border: 2px solid white;
    cursor: pointer;
}

.kind1 {
    background-image: url(../img/mountain.jpg);
}

.kind2 {
    background-image: url(../img/lake.jpg);
}

.kind3 {
    background-image: url(../img/night.jpg);
}

.kind4 {
    background-image: url(../img/river.jpg);
}

.checked {
    box-shadow: 0 0 10px 4px #ff9900;
}

.choice-puzzle a {
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .main-puzzle, .choice-puzzle {
        width: 50%;
        float: left;
    }
    .kind1, .kind2, .kind3, .kind4 {
        width: 220px;
        height: 220px;
    }
}
